@import "base/variables";
@import "base/mixins";
@import "base/animations";

* {font-family: 'Museo Sans Cyrl', sans-serif}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 940px;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/title";
@import "blocks/consultation";
@import "blocks/forms";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feedback";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/pageup";