.feed-form {
    margin-top: 36px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        background-color: #ffffff;
        border: none;
        border-radius: 5px;
        padding: 0 20px;
        min-height: 50px;
        margin-bottom: 15px;
    }

    input.error {
        border: 1px solid red;
        margin-bottom: 0px;
    }
    
    label.error {
        border: none;
        color: #D8000C;
        //background-color: #FFD2D2;
        font-size: 12px;
        font-weight: 500;
        padding-left: 20px;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 5px;
    }

    &_modal {
        margin: 0 auto;
        margin-top: 25px;
    }
}